.landing-container{
  padding: 20px;
  height: 100%;
  position: absolute;
}

.library {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
  float: right;
}
